body {
    background-color: rgb(86, 41, 18);
    color: white;
    font-family: "Playfair Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 10;

}
button {
    background-color: rgb(159, 63, 43);
    color: white;
    font-family: "Playfair Display", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
}

